$mainColor : #ff0000;

.red{
    color: $mainColor;
}
.alert{
    background-color: #eeeeee;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
    margin: auto;
}
.alert2 {
    @extend .alert;
}

.alert p{
    margin-bottom: 0;
    color: red;
}